<h1>Current projects</h1><br>
<ul>
<% @projects.each do |project| %>
    <li><%= link_to project.name, project %></li>
<% end %>
</ul>


<%= form_for Project.new, :url => { :action => "create" } do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Create" %>
<% end %>