<h1>Current projects</h1><br>
<% @projects.each do |project| %>
    <%= project.name %><br>
<% end %>


<%= form_for Project.new, :url => { :action => "create" } do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Create" %>
<% end %>