<h1><%= @scenario.name %></h1>

<table>
<% @steps.each do |step| %>
  <tr>
  <td><%= step.prefix %></td> <td><%= step.regex %></td>
</tr>
<% end %>
</table>

<%= link_to "Edit", edit_scenario_path(@scenario.id) %>